.b1 {
    border: 1px solid red;
}

#blog {
    width: 1080px;
    height: 900px;
    margin: 0 auto;
}

.bg-e1 {
    background-color: #e1e1e1;
}
.t-w{
    color: white;
}
.t-9a{
    color: #9a9a9a;
}
.tx-c{
    text-align: center;
}
.fz-14{
    font-size: 14px;
}
.pad-l60 {
    padding-left: 60px;
}
.pad-t75 {
    padding-top: 75px;
}
.mar-t16{
    margin-top: 16px;
}
.mar-t20{
    margin-top: 20px;
}
.mar-t48{
    margin-top: 48px;
}
.mar-t34{
     margin-top: 34px;
}
.mar-t26{
    margin-top: 26px;
}
.header {
    height: 80px;
    padding-left: 28px;
    padding-right: 28px;
}
#content{
    overflow:hidden;
}
.left_nav {
    width: 265px;
    height: 708px;
    margin-left: -100%;
    padding-top: 40px;
    float: left;
    background-color: #6da3ed;
}
.right_nav {
    width: 265px;
    margin-left: -265px;
    float: left;
    background-color: lightcyan;
}

.top_nav{
    width: 500px;
    margin: 0 auto;
    height: 100%;
}
.top_nav ul{
   list-style: none;
}
.top_nav ul li{
    float: left;
}

.left_nav span{
    color: white;
    font-size: 14px;
}
.left_nav p{
    color: white;
    font-size: 14px;
}
.main {
    width: 100%;
    float: left;
}
.main .main_content{
    height: 800px;
    margin-left: 265px;
    margin-right:265px;
    background-color: lightpink;
}
p{
    text-align: center;
}
.about_me a{
    display: inline-block;
}
.icon-avatar{
    width: 120px;
    height: 120px;
    background-image:url("icons/icon-avatar.png") ;
    margin: 0 auto;
}
.icon-size16{
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
}
.icon-address{
    background-image:url("icons/icon-address.png") ;
}
.icon-birth{
    background-image:url("icons/icon-birth.png") ;
}
.icon-work{
    background-image:url("icons/icon-work.png") ;
}
.icon-hobby{
    background-image:url("icons/icon-hobby.png") ;
}
.icon-tel{
    background-image:url("icons/icon-tel.png") ;
}
.icon-qq{
    background-image:url("icons/icon-qq.png") ;
}
.icon-weixin{
    background-image:url("icons/icon-weixin.png") ;
}
.in-b{
    display: inline-block;
}