/*布局边距类相关的样式*/

/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: PingFangSC-Regular;
    vertical-align: baseline;
    background: transparent;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

div, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
    outline: 0;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.b1 {
    border: 1px solid red;
}

.b-a {
    border: 1px solid black;
}

.b-t {
    border-top: 1px solid black;
}

.b-b {
    border-bottom: 1px solid black;
}

.b-r {
    border-right: 1px solid black;
}

.b-a {
    border: 1px solid black;
}

.t-w {
    color: white;
}

.t-2d {
    color: #2DBBFD;
}

.t-a7 {
    color: #A7B0B5;
}

.t-8b {
    color: #8B2B2A;
}

.t-8e {
    color: #8E979C;
}

.t-86 {
    color: #868B8E;
}

.t-ff9 {
    color: #FF9327;
}

.t-f8 {
    color: #F8E71C;
}

.t-50 {
    color: #50E3C2;
}

.t-63 {
    color: #63E5CD;
}

.t-44 {
    color: #445366;
}

.bg-f2 {
    background-color: #F2F5F9;
}

.bg-2d {
    background-color: #2DBCFE;
}

.bg-w {
    background-color: white;
}

.b-e0 {
    border-color: #E0E3EA;
}

.b-2d {
    border-color: #2DBBFD;
}

.o-h {
    overflow: hidden;
}

.nowrap {
    white-space: nowrap;
}

.relative {
    position: relative;
}

.mask {
    opacity: .1;
    top: 2.75rem;
}

/*媒体查询*/
@media screen and (max-width: 320px) {
    html {
        font-size: 14px;
    }
}

.hide {
    display: none !important;
}

/*盒子模型*/
.box {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-flow: row;
}

.h-c {
    justify-content: center;
}

.h-center {
    margin: 0 auto;
}

.h-r {
    justify-content: flex-end;
}

.h-sb {
    justify-content: space-between;
}

.v-c {
    align-items: center;
}

.v-center {
    margin: auto 0;
}

.v-b {
    align-items: flex-end;
}

.center {
    justify-content: center;
    align-items: center;
}

.middle {
    flex-direction: column;
}

.f1 {
    -moz-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.tx-l {
    text-align: left;
}

.tx-c {
    text-align: center;
}

.tx-r {
    text-align: right;
}

.header {
    height: 2.75rem;
    line-height: 2.75rem;
    font-size: 1.125rem;
    position: fixed;
    background-color: #2DBCFE;
    color: white;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.icon-left {
    background-image: url("../img/icon-left.png");
    height: 1.375rem;
    width: 1.375rem;
    background-size: 100% 100%;
}

/*用于顶部栏左右两侧块*/
.w-4 {
    width: 4rem;
}

.w-7 {
    width: 10rem;
}

.w-0625 {
    width: .625rem;
}

.w-093 {
    width: .93rem;
}

.main-content {
    padding-top: 2.75rem;
}

.fz68 {
    font-size: .6875rem;
}

.fz75 {
    font-size: .75rem;
}

.fz81 {
    font-size: .8125rem;
}

.fz875 {
    font-size: .875rem;
}

.fz93 {
    font-size: .9375rem;
}

.fz1125 {
    font-size: 1.125rem;
}

.fz118 {
    font-size: 1.1875rem;
}

.lh0625 {
    line-height: .625rem;
}

.lh075 {
    line-height: .75rem;
}

.lh0875 {
    line-height: .875rem;
}

.lh093 {
    line-height: .9375rem;
}

.lh1 {
    line-height: 1rem;
}

.lh1-125 {
    line-height: 1.125rem;
}

.lh1-375 {
    line-height: 1.375rem;
}

.lh1-6 {
    line-height: 1.625rem;
}

.bor-box {
    box-sizing: border-box;
}

.pad-l034 {
    padding-left: .34375rem;
}

.pad-l081 {
    padding-left: .8125rem;
}

.pad-l093 {
    padding-left: .9375rem;
}

.pad-r034 {
    padding-right: .34375rem;
}

.pad-r093 {
    padding-right: .9375rem;
}

.pad-lr075 {
    padding-left: .75rem;
    padding-right: .75rem;
}

.pad-lr093 {
    padding-left: .9375rem;
    padding-right: .9375rem;
}

.pad-lr1125 {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
}

.pad-lr125 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.pad-lr175 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.pad-lr2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.pad-lr31 {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}

.pad-t019 {
    padding-top: .19rem;
}

.pad-t0375 {
    padding-top: .375rem;
}

.pad-t0875 {
    padding-top: .875rem;
}

.pad-t093 {
    padding-top: .9375rem;
}

.pad-b018 {
    padding-bottom: .1875rem;
}

.pad-b05 {
    padding-bottom: .5rem;
}

.pad-b0625 {
    padding-bottom: .625rem;
}

.pad-b125 {
    padding-bottom: 1.25rem;
}

.pad-b15 {
    padding-bottom: 1.5rem;
}

.pad-b2 {
    padding-bottom: 2rem;
}

.pad-t1 {
    padding-top: 1rem;
}

.pad-bt015 {
    padding-top: .15rem;
    padding-bottom: .15rem;
}

.pad-bt068 {
    padding-top: .6875rem;
    padding-bottom: .6875rem;
}

.pad-bt075 {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.pad-bt093 {
    padding-top: .9375rem;
    padding-bottom: .9375rem;
}

.pad-bt125 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.mar-t0125 {
    margin-top: .125rem;
}

.mar-t025 {
    margin-top: .25rem;
}

.mar-t028 {
    margin-top: .28rem;
}

.mar-t0375 {
    margin-top: .375rem;
}

.mar-t05 {
    margin-top: .5rem;
}

.mar-t0625 {
    margin-top: .625rem;
}

.mar-t068 {
    margin-top: .6875rem;
}

.mar-t075 {
    margin-top: .75rem;
}

.mar-t093 {
    margin-top: .9375rem;
}

.mar-t1 {
    margin-top: 1rem;
}

.mar-t11 {
    margin-top: 1.125rem;
}

.mar-t125 {
    margin-top: 1.25rem;
}

.mar-t15 {
    margin-top: 1.5625rem;
}

.mar-t23 {
    margin-top: 2.375rem;
}

.mar-t4 {
    margin-top: 4rem;
}

.mar-t6 {
    margin-top: 6rem;
}

.mar-t65 {
    margin-top: 6.5rem;
}

.mar-l1 {
    margin-left: 1rem;
}

.mar-r031 {
    margin-right: .3125rem;
}

.mar-r05 {
    margin-right: .5rem;
}

.mar-r0625 {
    margin-right: .625rem;
}

.mar-r068 {
    margin-right: .6875rem;
}

.mar-r093 {
    margin-right: .9375rem;
}
