.bg-store {
    position: relative;
    background-image: url("../images/sky-05.png");
    width: 100%;
    height: 22.1875rem;
    background-size: 100% 100%;
    overflow: hidden;
}

.bg-mstore {
    position: relative;
    background-image: url("../images/bj.png");
    width: 100%;
    height: 11.25rem;
    background-size: 100% 100%;
}

.bg-earth {
    position: absolute;
    bottom: 0;
    background-image: url("../images/earth.png");
    background-position: top;
    /*height: 47.15625rem;*/
    height: 6.7rem;
    width: 100%;
}

.bg-home {
    position: absolute;
    bottom: 5rem;
    height: 22.1875rem;
    width: 100%;
    background-size: 100% 100%;
}

.bg-home2 {
    position: absolute;
    top: 0;
    height: 22.1875rem;
    width: 100%;
    background-size: 100% 100%;
}

#house1 {
    position: absolute;
    bottom: -5rem;
    width: 100%;
}

#house2 {
    position: absolute;
    top: 27.1875rem;
    width: 100%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.move1 {
    animation: rotate1 3s linear;
    -webkit-animation: rotate1 3s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.move2 {
    animation: rotate2 3s linear;
    -webkit-animation: rotate2 3s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

@-webkit-keyframes rotate2 {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.bg-house {
    width: 3.75rem;
    height: 3.75rem;
    background-size: 100% 100%;
}

.bg-house1 {
    background-image: url("../images/house1.png");
}

.bg-house2 {
    background-image: url("../images/house2.png");
}

.bg-house3 {
    background-image: url("../images/house3.png");
}

.bg-housebj1 {
    background-image: url("../images/housebj-03.png");
}

.bg-housebj2 {
    background-image: url("../images/housebj-04.png");
}

.bg-housebj3 {
    background-image: url("../images/housebj-05.png");
}

.bg-housebj4 {
    background-image: url("../images/housebj-jiesuo04.png");
}

.bg-housebj5 {
    background-image: url("../images/housebj-jiesuo05.png");
}

.bg-gradeprogress {
    background-image: url("../images/grade-progress.png");
    height: .625rem;
    background-size: 100% 100%;
    border-radius: 3.125rem;
}

.store-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

.icon-star {
    background-image: url("icons/star.png");
    background-size: 100% 100%;
    width: 1.1875rem;
    height: 1.1875rem;
}

.icon-staff {
    background-image: url("icons/shouyinyuan.png");
    background-size: 100% 100%;
    width: 1.0625rem;
    height: 1.1875rem;
}

#grade-progress {
    height: 100%;
    border-radius: 3.125rem;
}

.grade-dialog {
    position: relative;
    top: -1.1rem;
    left: -.1rem;
    background-image: url("../images/duihuakuang.png");
    background-size: 100% 100%;
    width: 5rem;
    height: 1rem;
}

.dot {
    width: .3125rem;
    height: .3125rem;
    border-radius: .3125rem;
    position: relative;
    top: -0.05rem;
}