.b1{
    border: 1px solid red;
}
.box {
    display: -webkit-flex; /* Safari */
    display: flex;
}

.h-c {
    justify-content: center;
}

.v-c {
    align-items: center;
}
.center{
    justify-content: center;
    align-items: center;
}
.f1 {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    width: 100%;
}
.header-logo img{
    height: 1.95rem;
    width: 8.55rem;
}
.header{
    padding: 0.5rem;
}
.options{
    background-image: url("../images/options.png");
    width: 2.25rem;
    height: 2.25rem;
    background-size: 100% 100%;
}