.b1 {
    border: 1px solid red;
}
/*盒子模型*/
.box {
    display: -webkit-flex; /* Safari */
    display: flex;
}

.h-c {
    justify-content: center;
}

.v-c {
    align-items: center;
}
.center{
    justify-content: center;
    align-items: center;
}
.middle{
    flex-direction:column;
}
.f1 {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    width: 100%;
}
.tx-c{
    text-align: center;
}
.tx-r{
    text-align: right;
}
.row{
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
}
.row input{
    padding:5px 10px;
}
.row select{
    height: 40px;
}
.row input{
    border-radius: 5px;
}
.t-w{
    color: white;
}
.pad-lr70 {
    padding-left: 70px;
    padding-right: 70px;
}
.mar-t50{
    margin-top: 50px;
}