#mainInfo {
    text-align: left;
}

.clearline {
    height: 1px;
    padding: 0px;
    background-color: #D5D5D5;
    overflow: hidden;
    margin: 20px 0px;
}

.personName {
    font-size: 30px;
}

.sectionTitle {
    font-size: 20px;
    margin: 20px 0px;
}

.items .item {
    float: left;
    margin-right: 100px;
    margin-bottom: 140px;
    height: 50px;
}

.caption p {
    margin-top: 10px;
    text-overflow: ellipsis;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
    font-size: 10px;
}

.header-container {
    height: 200px;
}

#infoArea {
    margin-top: -100px;
    min-height: 1000px;
}

#mainInfo div {
    margin: 5px 0px;
}

.historyData div {
    margin: 5px 0px;
}