.filter {
    cursor: pointer;
    margin-right: 10px;
}

.filter.active {
    background-color: #4b8ccb;
    border-radius: 2px;
    cursor: pointer;
}

.filterItem {
    display: flex;
    margin-left: 2%;
    margin-bottom: -1.6%;
    list-style: none;
    font-size: 13px;
    margin-top: 5px;
}

.filterItem div.filterText {
    border-radius: 8px;
    padding: auto 0;
    margin-right: 20px;
    width: 80px;
    border: 1px solid grey;
    text-align: center;
    background-color: #f3f3f3;
}

.filterItem ul {
    margin-bottom: 0;
    max-width: 545px;
}

.filterItem li {
    font-size: 1em;
    float: left;
    text-align: center;
    text-overflow: ellipsis;
    width: 7em;
    overflow: hidden;
    white-space: nowrap;
    margin: 3px 0px;
}

.filterItem a {
    font-size: 1em;
    float: left;
    margin-right: 1em;
    margin-left: 2em;
}

.filterItem button {
    line-height: 1em;
}

.filter-clear {
    margin-left: 10px;
}

.img-circle {
    border-radius: 0;
}

#title {
    width: 142px;
    font-size: 1em;
    margin-left: -40px;
}

button {
    color: black;
}

button.filter-btn {
    margin-top: 10px;
    font-size: 0.7em;
    float: left;
    margin-left: 9em;
}

button.filter-clear {
    margin-top: 10px;
    font-size: 0.7em;
    float: left;
}

#filter-list {
    margin-top: 40px;
    margin-left: 18%;
}

#searchBar button {
    margin: 0 0 0 15px;
}

.items {
    min-height: 1000px;
}

.item {
    width: 173px;
}

.item .caption h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

input {
    color: black;
}

.collapse.in {
    display: list-item;
}

.header-index.header {
    overflow: visible;
}

.header .header-container {
    overflow: visible;
}

.item .caption {
    font-size: 0.7em;
}

li.more {
    cursor: pointer;
}

li.more {
    width: 2em;
}

li.less {
    cursor: pointer;
}

.filter.moreItem{
    display: none;
}



